@using Microsoft.AspNetCore.Identity

@if (Context.User.Identity.IsAuthenticated)
{
    <a class="phone">Hi @User.Identity?.Name</a>

    <a href="/logon" class="phone">Logout</a>
    @* <form class="form-inline" action="/logon" method="post">
        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
    </form>  *@
}
