<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Прокат инструмента</title>
<meta name="description" content="" />
<meta name="keywords" content="" />

<!-- Традиционная иконка сайта, размер 16x16, прозрачность поддерживается. Рекомендуемый формат: .ico -->
<!--<link rel="shortcut icon" href="favicon.ico" />-->
<!-- Иконка сайта для устройств от Apple, рекомендуемый размер 114x114, прозрачность не поддерживается -->
<!--<link rel="apple-touch-icon" href="apple-touch-icon.png" />-->
<!-- Подключаем Нестандартные шрифты -->
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Ubuntu:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic-ext" rel="stylesheet">

<!-- Подключаем файлы стилей -->
<link href="/css/reset.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/animate.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/jquery.fancybox.css" rel="stylesheet">
<link rel="/stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="/css/style.css" rel="stylesheet">