@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}



<section id="products-container" class="products-container">
    <div class="container">
        <h2 class="title-border trasnparent "><span class="txt"><span>Станицы панели</span></span></h2>
        <div id="catalog">
            <div class="list row">
                <div class="filtr-container">

                    <div class="col-md-4 col-sm-6 ">
                        <div class="item">
                            <div class="push18"></div>
                            <div class="marka">Изменение данных администрации сайта</div>
                            <div class="seporate"></div>
                            <div class="desc">
                            </div>
                            <div class="btm"><a href="/admins" class="fancyboxModal">Перейти</a></div>
                        </div> <!-- end item -->
                    </div>


                    <div class="col-md-4 col-sm-6 ">
                        <div class="item">
                            <div class="push18"></div>
                            <div class="marka">Изменение ассортимента</div>
                            <div class="seporate"></div>
                            <div class="desc">
                            </div>
                            <div class="btm"><a href="/Products" class="fancyboxModal">Перейти</a></div>
                        </div> <!-- end item -->
                    </div>

                    <div class="col-md-4 col-sm-6 ">
                        <div class="item">
                            <div class="push18"></div>
                            <div class="marka">Изменение картинок</div>
                            <div class="seporate"></div>
                            <div class="desc">
                            </div>
                            <div class="btm"><a href="/Images" class="fancyboxModal">Перейти</a></div>
                        </div> <!-- end item -->
                    </div>
                    <div class="col-md-4 col-sm-6 ">
                        <div class="item">
                            <div class="push18"></div>
                            <div class="marka">Редактор отзывов</div>
                            <div class="seporate"></div>
                            <div class="desc">
                            </div>
                            <div class="btm"><a href="/Reviews" class="fancyboxModal">Перейти</a></div>
                        </div> <!-- end item -->
                    </div>

                </div>
            </div> <!-- end list -->
        </div>

        <!-- <a href="#" class="btn-more"><img src="images/icon-load.png" alt="">Показать больше</a> -->
    </div> <!-- end container -->
</section> <!-- end products-container -->
