@model IEnumerable<string>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Uploads/@item">/Uploads/@item</a>
                </td>
                <td>
                    <img src="Uploads/@item" style="background:gray;" />
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
